{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <style>
      .notie-container {
        box-shadow: none;
        z-index: 999999;
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">
    <link href="/static/navbars.css" rel="stylesheet" />

    {{block "css" .}}
    {{ end }}

    <title>DRVC: {{block "title" .}}{{ end }}</title>
  </head>
  <body>
    
    {{template "navbar" .}}

    <main class="container">
      <div class="bg-body-tertiary p-5 mt-4 rounded">
        {{block "content" .}}

        {{ end }}

      </div>
    </main>
    
    <div class="container">
      {{template "footer" .}}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>

    {{block "js" .}}
    {{ end }}

    <script>
      function notify(msg, msgType) {
        notie.alert({
          type: msgType,
          text: msg,
          time: 1,
        })
      }

      {{with .Error}}
      notify("{{.}}", "error")
      {{end}}

      {{with .Flash}}
      notify("{{.}}", "success")
      {{end}}

      {{with .Warning}}
      notify("{{.}}", "warning")
      {{end}}
      
    </script>
  </body>
</html>
{{ end }}
