{{template "base" .}}

{{define "title"}}Create New Member{{end}}

{{define "content"}}
    <div class="container">
        {{ $v := index .Data "member" }}
        <div class="row">
            <div class="col">
                <h1 class="mt-3">{{if $v}}Update {{$v.Name}} {{else}}Create Member{{end}}</h1>

                <form method="post" action="{{if $v}}/members/{{$v.ID}} {{else}}/new-member {{end}}" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                    <div class="form-group mt-3">
                        <label for="name">Name:</label>
                        {{with .Form.Errors.Get "name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "name"}} is-invalid {{end}}"
                               id="name" autocomplete="off" type='text'
                               name='name' value="{{$v.Name}}" required>
                    </div>

                    <div class="form-group mt-3">
                        <label for="email">Email:</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
                               id="email" autocomplete="off" type='text'
                               name='email' value="{{$v.Email}}" required>
                    </div>

                    <!-- add member alias forms -->
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <label for="aliases">Aliases: (empty aliases are ignored)</label>
                        </div>
                        <div class="col mb-2">
                            <button id="add-alias" type="button" class="btn btn-info" name="add-alias"
                                hx-get="/members/add-alias" hx-trigger="click" hx-target="#member-aliases" hx-swap="beforeend">
                                Add Alias
                            </button>
                        </div>
                    </div>
                    <div id="member-aliases" class="row">
                        {{ range $v.Aliases }}
                            <div class="col-3 mb-2"><input class="form-control" type="text" name="aliases" value="{{.Name}}"></div>
                        {{ end }}
                        <div class="col-3 mb-2"><input class="form-control" type="text" name="aliases"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                        <div class="col-8"></div>
                        <div class="col">
                            {{ if $v }}
                            <a href="/members/{{$v.ID}}/deactivate">
                                <button form="deactivate_member" class="btn btn-secondary" name="deactivate" value="deactivate">
                                    Deactivate Member
                                </button>
                            </a>
                            {{ end }}
                        </div>
                    </div> 
                </form>


            </div>
        </div>

    </div>
{{end}}

{{define "js"}}


{{end}}