{{template "base" .}}

{{define "title"}}Create New Vehicle{{end}}

{{define "content"}}
    <div class="container">
        {{ $v := index .Data "vehicle" }}
        <div class="row">
            <div class="col">
                <h1 class="mt-3">{{if $v}}Update {{$v.Name}} {{else}}Create Vehicle{{end}}</h1>

                <form method="post" action="{{if $v}}/vehicles/{{$v.ID}} {{else}}/new-vehicle {{end}}" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                    <div class="form-group mt-3">
                        <label for="name">Name:</label>
                        {{with .Form.Errors.Get "name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "name"}} is-invalid {{end}}"
                               id="name" autocomplete="off" type='text'
                               name='name' value="{{$v.Name}}" required>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="make">Make:</label>
                                {{with .Form.Errors.Get "make"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "make"}} is-invalid {{end}}" 
                                        id="make" autocomplete="off" type='text'
                                        name='make' value="{{$v.Make}}" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="model">Model:</label>
                                {{with .Form.Errors.Get "model"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "model"}} is-invalid {{end}}" 
                                        id="model" autocomplete="off" type='text'
                                        name='model' value="{{$v.Model}}" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="year">Model Year:</label>
                                {{with .Form.Errors.Get "year"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "year"}} is-invalid {{end}}"
                                    id="year" autocomplete="off" type='number' min="1900" max="2200"
                                    name='year' value="{{$v.Year}}" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                            <label for="fuel_type">Fuel Type:</label>
                            {{with .Form.Errors.Get "fuel_type"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                                <select class="form-select" aria-label="fuel type select" id="fuel_type"
                                        name="fuel_type" required>
                                        {{ range $key, $value := index .Data "fuelTypes" }}
                                            <option value="{{$key}}" {{if eq $key $v.FuelType }} selected {{ end }}>{{$value}}</option>
                                        {{ end }}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="purchase_price">Purchase Price:</label>
                                {{with .Form.Errors.Get "purchase_price"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "purchase_price"}} is-invalid {{end}}" 
                                        id="purchase_price" autocomplete="off" type='text'
                                        name='purchase_price' value="{{$v.PurchasePrice}}" >
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="purchase_date">Purchase Date:</label>
                                {{with .Form.Errors.Get "purchase_date"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "purchase_date"}} is-invalid {{end}}" 
                                        id="purchase_date" type='text'
                                        name='purchase_date' value="{{$v.PurchaseDate}}" >
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="vin">VIN:</label>
                        {{with .Form.Errors.Get "vin"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "vin"}} is-invalid {{end}}" 
                                id="vin" autocomplete="off" type='text'
                                name='vin' value="{{$v.Vin}}" >
                    </div>

                    <div class="form-group">
                        <label for="license_plate">License Plate:</label>
                        {{with .Form.Errors.Get "license_plate"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "license_plate"}} is-invalid {{end}}" 
                                id="license_plate" autocomplete="off" type='text'
                                name='license_plate' value="{{$v.LicensePlate}}" >
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="sale_price">Sale Price:</label>
                                {{with .Form.Errors.Get "sale_price"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "sale_price"}} is-invalid {{end}}" 
                                        id="sale_price" autocomplete="off" type='text'
                                        name='sale_price' value="{{$v.SalePrice}}" >
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="sale_date">Sale Date:</label>
                                {{with .Form.Errors.Get "sale_date"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "sale_date"}} is-invalid {{end}}" 
                                        id="sale_date" type='text'
                                        name='sale_date' value="{{if $v.SaleDate }}{{$v.SaleDate}}{{end}} " >
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h5>Billing</h5> 
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="billing_type">Billing Style:</label>
                                        {{with .Form.Errors.Get "billing_type"}}
                                            <label class="text-danger">{{.}}</label>
                                        {{end}}
                                        <select class="form-select" aria-label="Billing type select" id="billing_type"
                                            name="billing_type" required>
                                            {{ range index .Data "billingTypes" }}
                                                <option value="{{.}}" {{if eq . $v.BillingType }} selected {{ end }}>{{.}}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="base_per_mile">Base Rate (per mile):</label>
                                        {{with .Form.Errors.Get "base_per_mile"}}
                                            <label class="text-danger">{{.}}</label>
                                        {{end}}
                                        <input class="form-control {{with .Form.Errors.Get "base_per_mile"}} is-invalid {{end}}" 
                                                id="base_per_mile" autocomplete="off" type='text'
                                                name='base_per_mile' value="{{$v.BasePerMile}}" >
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="secondary_per_mile">Secondary Rate (per mile):</label>
                                        {{with .Form.Errors.Get "secondary_per_mile"}}
                                            <label class="text-danger">{{.}}</label>
                                        {{end}}
                                        <input class="form-control {{with .Form.Errors.Get "secondary_per_mile"}} is-invalid {{end}}" 
                                                id="secondary_per_mile" autocomplete="off" type='text'
                                                name='secondary_per_mile' value="{{$v.SecondaryPerMile}}" >
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="minimum_fee">Minimum Use Fee:</label>
                                        {{with .Form.Errors.Get "minimum_fee"}}
                                            <label class="text-danger">{{.}}</label>
                                        {{end}}
                                        <input class="form-control {{with .Form.Errors.Get "minimum_fee"}} is-invalid {{end}}" 
                                                id="minimum_fee" autocomplete="off" type='text'
                                                name='minimum_fee' value="{{$v.MinimumFee}}" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr>
                    <div class="row">
                        <div class="col">
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                        <div class="col-8"></div>
                        <div class="col">
                            {{ if $v }}
                            <a href="/vehicles/{{$v.ID}}/deactivate">
                                <button form="deactivate_vehicle" class="btn btn-secondary" name="deactivate" value="deactivate">
                                    Deactivate Vehicle
                                </button>
                            </a>
                            {{ end }}
                        </div>
                    </div> 
                </form>


            </div>
        </div>

    </div>
{{end}}

{{define "js"}}
<script>
    const elem = document.querySelector('input[name="purchase_date"]');
    const datePicker = new Datepicker(elem, {
        format: "yyyy-mm-dd",
    });

    const elemSale = document.querySelector('input[name="sale_date"]');
    const datePickerSale = new Datepicker(elemSale, {
        format: "yyyy-mm-dd",
    });
</script>

{{end}}