{{template "base" .}}

{{define "title"}}Create New Mileage Log{{end}}

{{define "content"}}
    <div class="container">
        {{ $v := index .Data "mileage-log" }}
        <div class="row">
            <div class="col">
                <h1 class="mt-3">{{if $v}}Update {{$v.Name}} {{else}}Create Mileage Log{{end}}</h1>

                <form method="post" action="{{if $v}}/mileage-logs/{{$v.ID}} {{else}}/new-mileage-log {{end}}" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                    <div class="form-group mt-3">
                        <label for="name">Name:</label>
                        {{with .Form.Errors.Get "name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "name"}} is-invalid {{end}}"
                               id="name" autocomplete="off" type='text'
                               name='name' value="{{$v.Name}}" required>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="vehicle">Vehicle:</label>
                                {{with .Form.Errors.Get "vehicle"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "vehicle"}} is-invalid {{end}}"
                                    id="vehicle" autocomplete="off" type='text'
                                    name='vehicle' value="{{$v.Vehicle.ID}}" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="year">Year:</label>
                                {{with .Form.Errors.Get "year"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "year"}} is-invalid {{end}}" 
                                        id="year" autocomplete="off" type='number'
                                        name='year' value="{{$v.Year}}" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="month">Month:</label>
                                {{with .Form.Errors.Get "month"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "month"}} is-invalid {{end}}" 
                                        id="month" autocomplete="off" type='number'
                                        name='month' value="{{$v.Month}}" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="start_odometer">Odometer Start:</label>
                                {{with .Form.Errors.Get "start_odometer"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "start_odometer"}} is-invalid {{end}}" 
                                        id="start_odometer" autocomplete="off" type='number'
                                        name='start_odometer' value="{{$v.StartOdometer}}" >
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="end_odometer">Odometer End:</label>
                                {{with .Form.Errors.Get "end_odometer"}}
                                    <label class="text-danger">{{.}}</label>
                                {{end}}
                                <input class="form-control {{with .Form.Errors.Get "end_odometer"}} is-invalid {{end}}" 
                                        id="end_odometer" type='number'
                                        name='end_odometer' value="{{$v.EndOdometer}}" >
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col">
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                        <div class="col-8"></div>
                        <div class="col">
                            {{ if $v }}
                            <a href="/vehicles/{{$v.ID}}/deactivate">
                                <button form="deactivate_vehicle" class="btn btn-secondary" name="deactivate" value="deactivate">
                                    Deactivate Vehicle
                                </button>
                            </a>
                            {{ end }}
                        </div>
                    </div> 
                </form>


            </div>
        </div>

    </div>
{{end}}

{{define "js"}}
<script>
    const elem = document.querySelector('input[name="purchase_date"]');
    const datePicker = new Datepicker(elem, {
        format: "yyyy-mm-dd",
    });

    const elemSale = document.querySelector('input[name="sale_date"]');
    const datePickerSale = new Datepicker(elemSale, {
        format: "yyyy-mm-dd",
    });
</script>

{{end}}