{{template "base" .}}

{{define "title"}}Mileage Log Billing{{end}}

{{define "content"}}
    <div class="container">
        {{ $v := index .Data "mileage-log" }}
        <div class="row">
            <div class="col">
                <h1 class="mt-3">Member Billings for {{ $v.Name }}</h1>

                <div class="row">
                    <div class="col">
                        <p><b>Vehicle:</b> {{ $v.Vehicle.Name }}</p>
                        <p><b>Year/Month:</b> {{ $v.Year }}/{{ $v.Month }}</p>
                    </div>
                    <div class="col">
                        <p><b>Total Trip Cost:</b> {{ index .Data "total-trip-cost" }}</p>
                        <p><b>Total Member Billings:</b> {{ index .Data "total-member-billings" }}</p>
                        
                    </div>
                    
                </div>
                


            </div>
        </div>

        <div class="row mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">Trips</h4>
                            <table class="table table-sm table-striped">
                                <tr>
                                    <th scope="col">Member</th>
                                    <th scope="col">Regular Trips</th>
                                    <th scope="col">Long Distance Trips</th>
                                </tr>
                                {{ range index .Data "member-billings"}}
                                    <tr>
                                        <td>{{ .Member.Name }}</td>
                                        <td>{{ .RegularTripsCost }}</td>
                                        <td>{{ .LongDistanceTripsCost }}</td>
                                    </tr>
                                {{ end }}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
{{end}}

