{{define "tripForm" }}
{{ $v := index .Data "mileage-log" }}
<!--<form method="post" action="/mileage-logs/{{$v.ID}}/edit-trips" class="" novalidate>-->
<form hx-post="/mileage-logs/{{$v.ID}}/add-trip" hx-trigger="submit" hx-swap="outerHTML" onsubmit="generateFullOdometerValue()" novalidate>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div class="row">
        <div class="col">
            <div class="form-group mt-3">
                <label for="trip-day">Day:</label>
                {{with .Form.Errors.Get "trip-day"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control" {{with .Form.Errors.Get "trip-day"}} is-invalid {{end}}
                    id="trip-day" autocomplete="off" type='number'
                    name='trip-day' min="1" max="31" value="{{.Form.Get "trip-day"}}" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-3">
                <label for="start-mileage">Start:</label>
                {{with .Form.Errors.Get "start-mileage"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control" {{with .Form.Errors.Get "start-mileage"}} is-invalid {{end}}
                    id="start-mileage" autocomplete="off" type='number'
                    name='start-mileage' min="0" max="999" value="{{ index .IntMap "last-odometer-value" }}" readonly>
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-3">
                <label for="end-mileage-input">End (last 3 digits):</label>
                {{with .Form.Errors.Get "end-mileage-input"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control" {{with .Form.Errors.Get "end-mileage-input"}} is-invalid {{end}}
                    id="end-mileage-input" autocomplete="off" type='number'
                    name='end-mileage-input' min="0" max="999" value="{{.Form.Get "end-mileage-input"}}" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-3">
                <label for="destination">Destination:</label>
                {{with .Form.Errors.Get "destinationt"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control" {{with .Form.Errors.Get "destination"}} is-invalid {{end}}
                    id="destination" autocomplete="off" type='text'
                    name='destination' value="{{.Form.Get "destination"}}">
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-3">
                <label for="purpose">Purpose:</label>
                {{with .Form.Errors.Get "purpose"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-control" {{with .Form.Errors.Get "purpose"}} is-invalid {{end}}
                    id="purpose" autocomplete="off" type='text'
                    name='purpose' value="{{.Form.Get "purpose"}}">
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-3">
                <label class="form-check-label" for="is-ld">LD?:</label>
                {{with .Form.Errors.Get "is-ld"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input class="form-check-input" {{with .Form.Errors.Get "is-ld"}} is-invalid {{end}}
                    id="is-ld" autocomplete="off" type='checkbox'
                    name='is-ld' value="ld" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="riders">Riders:</label>
            {{with .Form.Errors.Get "riders"}}
                    <label class="text-danger">{{.}}</label>
            {{end}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select id="riders" name="riders" {{with .Form.Errors.Get "riders"}} is-invalid {{end}}
                placeholder="Select riders..." multiple required></select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Save Trip">
        </div>
    </div>
</form>
{{end}}

{{define "tripHeader"}}
<tr>
    <th scope="col">Day</th>
    <th scope="col">Start</th>
    <th scope="col">End</th>
    <th scope="col">LD?</th>
    <th scope="col">Riders</th>
    <th scope="col">Destination</th>
    <th scope="col">Purpose</th>
    <th scope="col"></th>
</tr>
{{end}}

{{define "tripRow"}}
<tr>
    <td>{{ .TripDate.Format "2006-01-02" }}</td>
    <td> {{ .StartMileage }}</td>
    <td> {{ .EndMileage }}</td>
    <td> {{ if .IsLongDistance }}LD{{end}}</td>
    <td> 
        {{ range .Riders }}
            [{{ .Name }}]
        {{ end }}
    </td>
    <td> {{ .Destination }}</td>
    <td> {{ .Purpose }}</td>
    <td> Edit </td>
</tr>
{{end}}

{{define "tripTableSwap"}}
{{ $v := index .Data "mileage-log" }}
<table id="trip-list" hx-swap-oob="true" class="table table-sm table-striped">
    <thead>
        {{template "tripHeader" .}}
    </thead>
    <tbody>
        {{range $v.Trips}}
        {{template "tripRow" .}}
        {{ end }}
    </tbody>
</table>
{{end}}